.navigateIcon{
  margin: 0 0 0  auto ;
  margin-top: 100px;
  width: 86%;

  
}
.collections {
  width: 80%;
  margin: 0  0 0 auto;
  display: grid;
  grid-template-columns: 25% 25% 25%;
  justify-content: space-between;
}

.gradi {
  background: linear-gradient(to left, #05b97d, #83df33);
}

@media (max-width: 1233px) {
  .collections {
    grid-template-columns: 30% 30% 30%;
  }
}
@media (max-width:1182px){
  .navigateIcon{
    width:98%
  }
  .collections{
    margin: 100px auto;
    width: 98%;
    margin-top: 0;
  }
}
@media (max-width: 1160px) {
  .collections {
    width: 90%;
  }
}
@media (max-width: 920px) {
  .collections {
    width: 100%;
  }
}

@media (Max-width:800px){
  .collections{
    grid-template-columns: 40%  40%;
    /* justify-content: center; */
  }
}
@media (Max-width:630px){
  .collections{
    grid-template-columns: 90%;
    justify-content: center;
    
  }
}
