.index_div{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    overflow-y: scroll;
}
.index_div::-webkit-scrollbar{
    width: 0px;
}
.header_text_div{
    width:85%;
}
.header_text{
    font-size: 64px;
    line-height: 8rem;
}
.exam_back{
    background: url("../Images/exam.png");
    font-weight: bold;
    padding: 20px ;
    background-size: contain;
    background-repeat: no-repeat;

 
}
.quiz_back{
    background: url(../Images/quiz.png);
   background-size: contain;
   padding: 20px;
    font-weight: bold;
    background-repeat: no-repeat;
}

.hero_sub_text{
    line-height: 3rem;
}
.break2{
    display:none;
}
.btn_start{
    width: 300px;
}
.hero_img{
    height: 300px;
}
/* .hero_img{
    width:900px;
} */
/* ========= */



@media (max-width:1160px) {
    .header_text_div{
        width: 90%;
    }
     .hero_sub_text{
        width:100%;
    }
  
    
}

@media (max-width:1010px) {
    
    .header_text{
    font-size: 3.5rem;
    }
    .hero_sub_text p{
        font-size: 0.9rem;
    }
    .hero_sub_text span{
        font-weight: bold;
        font-size: 1.1rem;
    }
   
}
@media (max-width:930px){
    .hero_img{
        width: 90%;
    }
  

}



@media (max-width:887px){
    .header_text_div{
        width: 97%;
    }
    .header_text{
        font-size: 3rem;
    }
     .hero_sub_text p{
        font-size:0.8rem;
    }
    .hero_sub_text span{
        font-weight: bold;
        font-size: 1rem;
    }
   
}


@media (max-width:718px){
   
    .header_text{
        font-size: 2.5rem;
        line-height: 5rem;
    }

}

@media (max-width:600px){
   
    .header_text{
        font-size: 2rem;
    }
   

}

@media (max-width:493px){
    .hero_sub_text br{
        display: none;
    }
     .break{
        display: block;
    }
    .btn_start{
    width: 200px;
}
}

@media (max-width:460px){
    .header_text{
        line-height: 5rem;
    }
    .break2{
        display: block;
    }
    .hero_sub_text p{
        line-height: 2.3rem;
    }
   
    
}

