
   .hideSideBar{
 display: block;
}
.backmodal{
    display: none;
}
@media (max-width:1182px) {
    .backmodal{
    display: block;
}
 .hideSideBar{
    display: none;
 }
.revealSideBar{
    display: block;
}


}
