.text textarea {
  resize: none;
  width: 80%;
  border: 1px solid #b6b6b6;
  height: 100px;
}
.text textarea:focus {
  outline: 3px solid #03a26d72;
  border: none;
  border-radius: 10px;
  padding-left: 5px;
}
.answer .option {
  margin-bottom: 40px;
}
.answer .option input {
  height: 38px;
  border: 1px solid #b6b6b6;
  width: 70%;
}
.answer .option input:focus {
  outline: 3px solid #03a26d72;
  border: none;
  border-radius: 5px;

}

.answer .option button {
  height: 38px;
  width: 38px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 38px;
  outline: 2px solid #f5f7f8;
  background-color: #f5f7f8;
}

.answer .option button .wrong {
  color: black;
}

.answer .option button .right {
  color: white;
}
.questionNumber{
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #03a26c;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid white;
  outline: 3px solid #03a26c;
}
.optionDiv{
  background-color: #e6e4e4;
  width: 90%;
  padding: 13px 8px;

  margin:  20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;

}

.notAnswer{
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 40px;
  border: 1px solid #b6b6b6;

}
.notAnswer div{
  width: 95%;
  height: 5px;
  background-color: #03a26c;
}


@media (max-width:1182px){
  .optionDiv{
    width: 100%;
  }

}

@media (max-width:400px){
  .text textarea{
    height: 100px;
  }
}