.playersJoining {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    justify-content: center;
}
.quizQuestionBody{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.answerbtn{
    width: 80%;
    display: grid;
    grid-template-columns: 40% 40%;
    margin:  0 auto;
    justify-content: space-between;
    margin-top: 90px;
}

.answerbtn div>button{
    background: #ededed;
    border-radius: 50px 0 50px 0;
}
.topacts{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: space-evenly;
}
.topActsDiv{
    width: 100%;
    position: relative;
    margin: 20px 0;
}
.scoreBalldiv{
    width: 100%;
    /* position: relative; */
}
.scoreBall{
    position: absolute;
    width: 60px;
    height:60px;
    border:4px solid white;
    outline: 4px solid #03a26c;
    background: #03a26c;
    border-radius: 60px;
display: flex;
justify-content: center;
align-items: center;
font-family: monospace;
color: white;
font-size: 1.2rem;
right: 30px;
top: -20px;
}
.scoreBall p{
    font-weight: 600;
}
.imgdiv{
    width: 80%;
    margin: 0 auto;
    border-right: 6px solid #03a26c;
    border-bottom: 6px solid #03a26c;
}
.imgdiv img{
    width: 100%;
    height: 250px;
}
.nameBox{
    display: flex;
    background: #03a26c;
    width: 80%;
    /* padding: 20px 0; */
    transform: skewX(45deg);
    justify-content: center;
    align-items: center;

}
.nameBox div{
    transform: none;
     font-family: monospace;
  color: white;
}
.nameBox .index p{
  transform: rotate(40deg);
  color: white;
  font-size: 2rem;
 
}
.nameBox .name p{
    transform: skewX(-40deg);
    font-size: 1.2rem;
 
}

.overallTopOveflow{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: 50% 50%;
}
.div1{
    background-color: #03a26c;
    animation: div1 2s 1 running normal;
}
.div2{
    background-color: #03a26c;
    animation: div2 2s 1 running normal;
}

@keyframes div1 {

    0%{
        transform: translateY(900px);
    }
    
}
@keyframes div2 {

    0%{
        transform: translateY(-900px);
    }
    
}
@media (max-width:1189px){
    .topacts{
        grid-template-columns: 23% 23% 23% 23%;
    }
}

@media (max-width:1100px){
    .quizQuestionBody{
        position: unset;
        padding: 30px 0;
    }
    .answerbtn{
        grid-template-columns: 80%;
        justify-content: center;
    }
}

@media (max-width:1000px){
    .topacts{
        grid-template-columns: 30% 30% 30%;
    }
}

@media (max-width:720px) {
    .topacts{
        grid-template-columns: 40%  40%;
    }
    
}
@media (max-width:653px){
    .answerbtn{
    grid-template-columns: 100%;
    margin-top: 0;
    width: 95%;
   
    }
    .topacts{
        grid-template-columns: 43% 43%;
    }
    
    
}

@media (max-width:500px){
    .topacts{
        grid-template-columns: 70%;
    }
    
}

@media (max-width:400px){
    .topacts{
        grid-template-columns: 80%;
    }
}

